
<mat-card>
  <mat-form-field>
    <input type="text" id="searchbox" [(ngModel)]="searchTerm" matInput placeholder="Etsi uutista">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-card-title>Finnkino Uutiset</mat-card-title>
  <mat-accordion>
  <mat-expansion-panel *ngFor="let item of cinemaData$ | async | newsFilter: searchTerm ">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.PublishDate | shorten:10}}
        </mat-panel-title>
        <mat-panel-description>
          {{item.Title}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
    {{item.HTMLLead}}
    </p>
    <img style="align-content: end" src="{{item.ImageURL}}">
  </mat-expansion-panel>
</mat-accordion>
</mat-card>
