<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <label>
        <input type="email" matInput placeholder="Your email" ngModel name="email">
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input type="password" matInput placeholder="Your password" ngModel name="password">
      </label>
    </mat-form-field>
    <button mat-raised-button color="primary">Submit</button>
  </form>
</section>
