<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div> <a routerLink="/">TANI</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li> <a routerLink="/calculator">Calculator</a></li>
      <li> <a routerLink="/feedback">Feedback</a></li>
      <li> <a routerLink="/template-form">Template</a></li>
      <li> <a routerLink="/reactive-form">Reactive</a></li>
      <li> <a routerLink="/albums">Finnkino</a></li>
      <li> <a routerLink="/currency">Currency-Calculator</a></li>
      <li> <a routerLink="/login">Login</a></li>
    </ul>
  </div>
</mat-toolbar>
