
<div class="container">
<div (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <div>
    <label>First Name</label>
    <input type="text" formControlName="firstName">
    <span *ngIf="registerForm.get('firstName').valid && registerForm.get('firstName').touched"
       class="help-block"> Please enter valid first name! </span>
  </div>

  <div>
    <label>Last Name</label>
    <input type="text" formControlName="lastName">
    <span *ngIf="registerForm.get('lastName').valid && registerForm.get('lastName').touched"
          class="help-block"> Please enter valid last name! </span>
  </div>

  <div>
    <label>Person ID</label>
    <input type="text" formControlName="personId">
  </div>

  <div>
    <label>Email</label>
    <input type="email" formControlName="emailAddress" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" />
    <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
      <div *ngIf="fval.email.errors.required">Email is required</div>
      <div *ngIf="fval.email.errors.email">Enter a valid email address</div>
    </div>
  </div>

    <div>
      <input type="text" formControlName="phone" class="form-control" placeholder="Phone No." maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && fval.phone.invalid }" required />
      <div *ngIf="submitted && fval.phone.errors" class="invalid-feedback">
        <div *ngIf="fval.phone.errors.required">Phone is required</div>
      </div>
    </div>
    <div>
      <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && fval.password.errors}" />
      <div *ngIf="submitted && fval.password.errors"class="invalid-feedback">
        <div ngClass="fval.password.errors.required">
          Password is required.
        </div>
        <div *ngIf="fval.password.errors.minlength">Password must be at least 10 characters</div>
      </div>
    </div>
    <div>
      <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"[ngClass]="{ 'is-invalid': submitted && fval.confirmPassword.errors }" appConfirmEqualValidator='password'/>
      <div *ngIf="submitted && fval.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="fval.confirmPassword.errors.required"
        >Confirm password is required</div>
        <div *ngIf="fval.confirmPassword.errors?.notEqual">Password Mismatch</div>
      </div>

  </div>
  <div>
    <div class="checkboxrow">
      <input type="checkbox" class="form-check-input" id="tnc" formControlName="tnc"  [ngClass]="{ 'is-invalid': submitted && fval.tnc.errors }">
      <label for="tnc" class="form-check-label">Agree with terms and conditions</label>
      <div *ngIf="submitted && fval.tnc.errors" class="invalid-feedback">
        <div>Please agree with terms and conditions</div>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-primary submit">Submit<span class="submit"><span
        class="fa fa-arrow-right"></span></span></button>
    </div>

  </div>
  </div>
</div>



<!-- <button type="submit" (click)="updateName()">Update<button/>  -->
