<div class="card m-3 w-50 mx-auto">
  <h5 class="card-header">Reactive Form</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.firstName.errors }" />
          <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
            <div *ngIf="form.firstName.errors.required">First Name is required</div>
            <div *ngIf="form.firstName.errors.minlength">First Name must be at least 2 characters long</div>
          </div>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.lastName.errors }" />
          <div *ngIf="submitted && form.lastName.errors" class="invalid-feedback">
            <div *ngIf="form.lastName.errors.required">Last Name is required</div>
            <div *ngIf="form.lastName.errors.minlength">Last Name must be at least 2 characters long</div>
          </div>
        </div>
      <div class="form-group">
        <label>Social Security</label>
        <input type="text" formControlName="social" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.social.errors }" />
        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
          <div *ngIf="form.social.errors.required">Social Security ID is required</div>
          <div *ngIf="form.social.errors.pattern">Social Security ID must be in valid form</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
          <div *ngIf="form.email.errors.required">Email is required</div>
          <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
          <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
            <div *ngIf="form.password.errors.required">Password is required</div>
            <div *ngIf="form.password.errors.minlength">Password must be at least 10 characters and contain at least one number and uppercase letter</div>
            <div *ngIf="form.password.errors.pattern">Password must contain at least one number and uppercase letter</div>
          </div>
        </div>
        <div class="form-group col">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.confirmPassword.errors }" />
          <div *ngIf="submitted && form.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="form.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="form.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && form.acceptTerms.errors }" />
        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
        <div *ngIf="submitted && form.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Register</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
  </div>
</div>
