<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div><button (click)="sidenav.toggle()">Toggle sidenav</button></div>
        <div>LOGO</div>
        <div>
          <a routerLink="/calculator">Calculator</a>
          <a routerLink="/feedback">Feedback</a>
          <a routerLink="/calculator">Calculator</a>
        </div>
    </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>


  <router-outlet></router-outlet>
